<p id="notice"><%= notice %></p>

<h1>Category Hierarchies</h1>

<table>
  <thead>
    <tr>
      <th>Category1</th>
      <th>Category2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @category_hierarchies.each do |category_hierarchy| %>
      <tr>
        <td><%= category_hierarchy.category1 %></td>
        <td><%= category_hierarchy.category2 %></td>
        <td><%= link_to 'Show', category_hierarchy %></td>
        <td><%= link_to 'Edit', edit_category_hierarchy_path(category_hierarchy) %></td>
        <td><%= link_to 'Destroy', category_hierarchy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category Hierarchy', new_category_hierarchy_path %>
